<!-- <pep-side-bar [ignoreResize]="true" (stateChange)="onSidebarStateChange($event)">
    <div header-content class="side-bar-title ellipsis">
        <pep-button class="back-button" sizeType="sm" iconName="arrow_left_alt"
            (buttonClick)="onNavigateBackFromEditor();"></pep-button>
        <div class=" title-xl ellipsis" [title]="'survey builder'">
            <span>{{ 'SURVEYS_MANAGER.MAIN_HEADER' | translate }}</span>
        </div>
        Header
    </div>
    <div class="survey-details">
        <pep-textbox [key]="'float'" [label]="'SURVEY_MANAGER.SURVEY_EDITOR.NAME' | translate" [mandatory]="true"
            [placeholder]="'SURVEY_MANAGER.SURVEY_EDITOR.NAME_PLACEHOLDER' | translate"
            [value]="surveyEditor?.name" (valueChange)="onSurveyPropertyChanged('name', $event)">
        </pep-textbox>

        
        Data

    </div>
</pep-side-bar> -->
<div class="editor-container">
    <div class="editor-desc">
        Display a set of activities to be formed
    </div>
    <pep-select class="udc-flows" [key]="'select1'" [value]="selectedUdcFlow" [label]="'UDC FLows'"
        [options]="flows$ | async" (valueChange)="onUDCFlowSelect($event)">
    </pep-select>
</div>