<div class="visit-container" [ngClass]="{'selected': selectedGroupIndex >= 0}">
    <div class="flow-groups">
        <ng-container *ngFor="let group of groups; let i = index">
            <ng-container *ngIf="group.Steps | groupStatusIcon as statusIconName">
                <pep-button class="visit-item group"
                    [ngClass]="{'selected': selectedGroupIndex === i, 'color-alert': statusIconName === 'system_alert'}"
                    [value]="group.Title" styleType="regular" sizeType="md" [disabled]="group.Steps | isGroupLocked"
                    [iconName]="statusIconName" iconPosition="start" (buttonClick)="onGroupClicked(i)"></pep-button>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="showReturn">
            <pep-button class="return-to-list" [value]="'Back'" styleType="regular" sizeType="md"
                [iconName]="'arrow_left_alt'" iconPosition="start" (buttonClick)="onReturnToVisitListClicked()">
            </pep-button>
        </ng-container>
    </div>
    <div class="group-steps">
        <ng-container *ngIf="selectedGroupIndex >= 0">
            <pep-button *ngFor="let step of groups[selectedGroupIndex].Steps; let i = index" class="visit-item activity" [value]="step.Title"
                styleType="regular" sizeType="md" [disabled]="step.Completed || step.Disabled"
                [iconName]="step | stepStatusIcon" iconPosition="start" (buttonClick)="onStepClicked(i)">
            </pep-button>

            <pep-button class="return-to-groups" [value]="'Back'" styleType="regular" sizeType="md"
                [iconName]="'arrow_left_alt'" iconPosition="start" (buttonClick)="onReturnToGroupsClicked()">
            </pep-button>
        </ng-container>
    </div>
</div>