@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';

:host {
    width: 100%;
}

.visit-container {
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    gap: variables.$spacing-lg;    
    /*margin: variables.$spacing-2xl variables.$spacing-lg variables.$spacing-lg variables.$spacing-lg;*/

    .flow-groups, .group-steps {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-lg;
        /*padding: variables.$spacing-lg;       */

        .visit-item {
            height: 64px;

            ::ng-deep.mat-button {
                height: 100%;
                font-size: variables.$fs-xl;
                font-weight: 600;

                .mat-icon {
                    width: 32px;
                }

                &:disabled {
                    font-weight: normal;
                }                               

                &:hover {
                    @include mixins.focus();                             
                }   
                
                .mat-button-wrapper {
                    justify-content: start;
                }     
            }

            /*&.group {
                width: 360px;
            } 

            &.activity {
                width: 411px;
            } */
            
            &.selected {
                ::ng-deep.mat-button {
                    @include mixins.pep-state-active(regular, null, true);  
                    

                    &:hover {
                        @include mixins.focus();                            
                    } 
                }               
            } 

            &.color-alert {
                ::ng-deep.mat-button {
                    .mat-icon {
                        .svg-icon {
                            fill: rgba(230, 0, 0, 0.9);
                        }
                    }
                }
            }   
            
            /*
            @media (max-width: variables.$screen-max-size-2xs) {
                &.group {
                    width: 288px;
                } 

                &.activity {
                    width: 288px;
                } 
            }*/
        }

        .return-to-list {
            ::ng-deep.mat-button {
                height: 48px;                                                        

                &:hover {
                    @include mixins.focus();                             
                }                       
            }
        }

        .return-to-groups {
            display: none;
        }

        @media (max-width: variables.$screen-max-size-2xs) {
            .return-to-groups {
                display: grid;

                ::ng-deep.mat-button {
                    height: 48px;                                                        
    
                    &:hover {
                        @include mixins.focus();                             
                    }                       
                }
            }
        }
    }    

    .flow-groups {
        max-width: 360px;        
        width: 40%;
    }

    .group-steps {
        max-width: 540px;
        width: 60%;
        background-color: lightgray;
        /*width: 364px; */
        padding: variables.$spacing-lg;
    }

    @media (max-width: variables.$screen-max-size-2xs) {
        .flow-groups {
            width: 100%;
            /*
            &.hide-groups {
                display: none;
            } */
        }

        .group-steps {
            max-width: 360px;        
            width: 100%;
            background-color: unset;           
            padding: 0;
         }
    }

}

@media (max-width: variables.$screen-max-size-2xs) {
    .visit-container {
        margin: 0;
        
        &.selected {
            .flow-groups {
                display: none;
            }
        }
        &:not(.selected) {
            .group-steps {
                display: none;
            }
        }
    }
}
