<div class="flow-container">
    <div class="flow-groups" [ngClass]="{'hide-groups': selectedGroup}">
        <ng-container *ngFor="let group of groups">
            <ng-container *ngIf="group.Steps | groupStatusIcon as statusIconName">
                <pep-button class="visit-item group"
                    [ngClass]="{'selected': selectedGroup === group, 'color-alert': statusIconName === 'system_alert'}"
                    [value]="group.Title" styleType="regular" sizeType="md" [disabled]="group.Steps | isGroupLocked"
                    [iconName]="statusIconName" iconPosition="start" (buttonClick)="onGroupClicked(group)"></pep-button>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="showReturn">
            <pep-button class="return-to-list" [value]="'Back'" styleType="regular" sizeType="md"
                [iconName]="'arrow_left_alt'" iconPosition="start" (buttonClick)="onReturnToVisitListClicked()"></pep-button>
        </ng-container>
    </div>
    <div class="group-steps" *ngIf="selectedGroup">
        <pep-button *ngFor="let step of selectedGroup.Steps" class="visit-item activity"
            [value]="step.Title" styleType="regular" sizeType="md" [disabled]="step.Completed || step.Disabled"
            [iconName]="step | stepStatusIcon" iconPosition="start" (buttonClick)="onStepClicked(step)">
        </pep-button>

        <pep-button class="return-to-groups" [value]="'Back'" styleType="regular" sizeType="md"
        [iconName]="'arrow_left_alt'" iconPosition="start" (buttonClick)="onReturnToGroupsClicked()"></pep-button>
    </div>
</div>