@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';

.flow-container {
    /*height: 100%;*/
    display: flex;
    gap: variables.$spacing-lg;    
    /*margin: variables.$spacing-2xl variables.$spacing-lg variables.$spacing-lg variables.$spacing-lg;*/

    .flow-groups, .group-activities {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-lg;
        /*padding: variables.$spacing-lg;       */

        .visit-item {
            height: 64px;

            ::ng-deep.mat-button {
                height: 100%;
                font-size: variables.$fs-xl;
                font-weight: 600;

                .mat-icon {
                    width: 32px;
                }

                &:disabled {
                    font-weight: normal;
                }                               

                &:hover {
                    @include mixins.focus();                             
                }   
                
                .mat-button-wrapper {
                    justify-content: start;
                }     
            }

            &.group {
                width: 343px;
            }

            &.activity {
                width: 411px;
            }
            
            &.selected {
                ::ng-deep.mat-button {
                    @include mixins.pep-state-active(regular, null, true);  
                    

                    &:hover {
                        @include mixins.focus();                            
                    } 
                }               
            } 

            &.color-alert {
                ::ng-deep.mat-button {
                    .mat-icon {
                        .svg-icon {
                            fill: rgba(230, 0, 0, 0.9);
                        }
                    }
                }
            }   
            
            @media (max-width: variables.$screen-max-size-2xs) {
                &.group {
                    width: 288px;
                }

                &.activity {
                    width: 288px;
                }
            }
        }

        .return-to-list {
            ::ng-deep.mat-button {
                height: 48px;                                                        

                &:hover {
                    @include mixins.focus();                             
                }                       
            }
        }

        .return-to-groups {
            display: none;
        }

        @media (max-width: variables.$screen-max-size-2xs) {
            .return-to-groups {
                display: grid;

                ::ng-deep.mat-button {
                    height: 48px;                                                        
    
                    &:hover {
                        @include mixins.focus();                             
                    }                       
                }
            }
        }
    }    

    .group-activities {
        background-color: lightgray;
        /*width: 364px; */
        padding: variables.$spacing-lg;
    }

    @media (max-width: variables.$screen-max-size-2xs) {
        .flow-groups {
            &.hide-groups {
                display: none;
            }
        }

        .group-activities {
            background-color: unset;           
            padding: 0;
         }
    }

  
    
    /*
    pep-button {        
        ::ng-deep.mat-button-wrapper {
            justify-content: start;
        }                
    } */
}

