@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';

.visit-container {
    display: flex;
    height: 100%;

    /*
    .flow-groups, .group-activities {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-lg;
        padding: variables.$spacing-lg;
    }

    .flow-groups {
        width: 320px;
    }    

    .group-activities {
       background-color: lightgray;
       width: 364px;
    }
    
    pep-button {        
        ::ng-deep.mat-button-wrapper {
            justify-content: start;
        }                
    }*/

    .visit-selection {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .content {
            max-width: 360px;
            width: 100%;

            .header {
                font-size: variables.$fs-xl;
                margin-bottom: variables.$spacing-md;
            }
    
            .items-container {
                display: flex;
                flex-direction: column;                 
                gap: variables.$spacing-lg;            
                    
                pep-button {
                    height: 72px;                
                    width: 100%;
    
                    ::ng-deep.mat-button {
                        height: 100%;                                                                                    
        
                        &:hover {
                            @include mixins.focus();                             
                        } 
                    }
                }
            }
        }               
    }
}